.memory {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    flex: 2;
}

.memory-content {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    /* Añade estilos adicionales para la sección de memoria aquí */
}

.memory-content h4, h3 {
    color: #333;
    margin-bottom: 10px;
    /* Añade estilos adicionales para el título de la memoria aquí */
}

.memory-content p {
    text-align: left;
    color: #666;
}