.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../Images/LogoCafeFondo.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

/* Estilos para la sección de bienvenida */
.welcome-box {
  width: 40%;
  padding: 20px;
  background-color: #ff9800;
  color: #ffffff;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -20px;
}

.welcome-box h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.welcome-box p {
  font-size: 18px;
  margin-bottom: 15px;
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
  width: 25%;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  align-items: center;
}

.login-form p {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.login-form img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  object-fit: fill;
}

/* Estilos para el botón de inicio de sesión */
.signin {
  float: right;
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  gap: 0.75rem;
  color: #c4d2dc;
  background-color: #19242b;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}

.signin:hover {
  transform: scale(1.025);
}

.signin:active {
  transform: scale(0.975);
}

button svg {
  height: 24px;
  width: auto;
}

/* Media Query para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
  }

  .welcome-box,
  .login-form {
    width: 100%;
    margin-right: 0;
  }
}
